In [1]:
from lyrics_emotion_analysis_KR import load_vocab , load_model , hybrid_emotion_analysis , hybrid_emotion_export_persent
from lyrics_preprocessing import EnglishOrKorean , isKorean_percent , isRemoveData
import os
from tqdm import tqdm
import pandas as pd
import openpyxl

In [17]:
tqdm.pandas()

In [8]:
music_analysis_query = """SELECT DISTINCT rma.music_idx, rmm.title, rmm.lyrics
FROM RENEW_music_analytics AS rma
LEFT JOIN RENEW_meta_music AS rmm ON rma.music_idx = rmm.music_idx"""

RENEW_meta_music_query = """SELECT DISTINCT rmm.music_idx , rmm.title , rmm.lyrics
FROM RENEW_meta_music AS rmm
WHERE rmm.lyrics <> 'None'"""

In [2]:
vocab_path = "./asset/vocab_9class_500.csv"
stopwords_path = "./asset/stopwords.txt"
# 모델이 저장되어있는 경로
checkpoint_path = os.path.join("./", 'Bert_save_model', 'best_model')

In [3]:
vocab = load_vocab(vocab_path,stopwords_path)

In [4]:
# 모델 객체 생성
sentiment_model = load_model(checkpoint_path)

Some layers from the model checkpoint at bert-base-multilingual-cased were not used when initializing TFBertModel: ['nsp___cls', 'mlm___cls']
- This IS expected if you are initializing TFBertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing TFBertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
All the layers of TFBertModel were initialized from the model checkpoint at bert-base-multilingual-cased.
If your task is similar to the task the model of the checkpoint was trained on, you can already use TFBertModel for predictions without further training.

### DB 불러오기

In [46]:
import pymysql
#indj 데이터 베이스 config
RDS_config = {
    # db 접속 config 입력
}

# data base connect
indj_db = pymysql.connect(**RDS_config, cursorclass=pymysql.cursors.DictCursor)

In [9]:
# 커서 객체 생성
cursor = indj_db.cursor()

# SQL 테이블을 pandas Dataframe 으로 불러오기
sql = RENEW_meta_music_query
cursor.execute(sql)
res = cursor.fetchall()
lyrics_df = pd.DataFrame(res)

In [35]:
# 외국어 & 한국어 구분
# 한국어 비율이 10% 이상이면 한국어로 판단함.
lyrics_df['IsKorean'] = lyrics_df['lyrics'].progress_map(lambda x : isKorean_percent(x,0.1))

100%|████████████████████████████████████████████████████████████████████████| 964579/964579 [01:49<00:00, 8807.41it/s]

In [36]:
# 한국어 필터링
korean_lyrics_df = lyrics_df[lyrics_df['IsKorean'] == 1]

In [38]:
# inst , MR 제거 밒 필터링
korean_lyrics_df['isInst'] = korean_lyrics_df['title'].map(lambda x : isRemoveData(x))
korean_lyrics_df = korean_lyrics_df[korean_lyrics_df['isInst'] == 0]

<ipython-input-38-577dbb4b5c61>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  korean_lyrics_df['isInst'] = korean_lyrics_df['title'].map(lambda x : isRemoveData(x))

### 미리 뽑혀진 데이터 제외

In [49]:
# 커서 객체 생성
cursor = indj_db.cursor()

# SQL 테이블을 pandas Dataframe 으로 불러오기
sql = """SELECT * FROM `indj_service`.`RENEW_lyrics_emotion_percent`;"""
cursor.execute(sql)
res = cursor.fetchall()
analysis_df = pd.DataFrame(res)

In [54]:
# 전체 데이터 - 삽입되어진 데이터 index (차집합)
unique_list = list(set(korean_lyrics_df['music_idx'].to_list()) -  set(analysis_df['music_idx'].to_list()))

In [65]:
# music_idx 로 index를 바꿔주고 loc 으로 이미 추출해야만 하는 데이터 필터링(삽입되어진 데이터 제외)
korean_lyrics_df = korean_lyrics_df.set_index('music_idx')
korean_lyrics_df = korean_lyrics_df.loc[unique_list]

In [69]:
korean_lyrics_df.reset_index(inplace=True)

### 추출 시작

In [71]:
# 추후 DataFrame 변환을 위해 dict 형태로 추출시작
emotion_result_dict = {}

In [ ]:
for i in tqdm(range(len(korean_lyrics_df))[40000:90000]):
    low = korean_lyrics_df.iloc[i]
    emotion_result = hybrid_emotion_export_persent(low['lyrics'],sentiment_model,vocab)
    try:
        # musict_idx 가 key 값 , emotion_result 가 value 값
        emotion_result_dict[low['music_idx']] = emotion_result
    except IndexError:
        print("{}번째 idx 에러 - 가사 : {}".format(i,low['lyrics']))

  0%|                                                                                        | 0/50000 [00:00<?, ?it/s]C:\Users\indj\.conda\envs\tensorflow\lib\site-packages\transformers\tokenization_utils_base.py:2073: FutureWarning: The `pad_to_max_length` argument is deprecated and will be removed in a future version, use `padding=True` or `padding='longest'` to pad to the longest sequence in the batch, or use `padding='max_length'` to pad to a max length. In this case, you can give a specific length with `max_length` (e.g. `max_length=45`) or leave max_length to None to pad to the maximal input size of the model (e.g. 512 for Bert).
  warnings.warn(
 90%|███████████████████████████████████████████████████████████████▉       | 44986/50000 [35:45:05<5:54:10,  4.24s/it]

In [74]:
emotion_result_df = pd.DataFrame(emotion_result_dict).T

In [75]:
emotion_result_df

,5359,5368,5361,5367,5364,5365,5370,5363,5369,emotion1,emotion2,emotion3,5366
2097197,0.23394,0.06979,0.08168,0.13957,0.32276,0.10626,0.023,0.023,0,5364,5359,5367,NaN
2097214,0.40454,0.06475,0.10381,0.01903,0.13718,0.03104,0.1265,0.07176,0,5359,5364,5370,0.04139
2097215,0.40402,0.03293,0.08067,0.02305,0.04412,0.03655,0.09253,0.25749,0,5359,5363,5370,0.02865
2097216,0.34654,0.02836,0.28148,0.04128,0.04379,0.02669,0.07798,0.10717,0,5359,5361,5363,0.04671
2097217,0.5349,0.07274,0.13887,0.00441,0.03747,0.03747,0.03894,0.07421,0,5359,5361,5363,0.06098
...,...,...,...,...,...,...,...,...,...,...,...,...,...
59773,0.32074,0.02015,0.03778,0.08732,0.0974,0.06297,0.05122,0.08984,0,5359,5366,5364,0.23258
2156925,0.07895,0.31579,0.09211,0.00263,0.05789,0.07632,0.18684,0.04737,0,5368,5370,5366,0.14211
30468482,0.20633,0.06684,0.11237,0.04133,0.1453,0.0649,0.08428,0.18437,0,5359,5363,5364,0.09428
30468497,0.05,NaN,0.1,NaN,NaN,NaN,0.2,0.6,0,5363,5370,5361,0.05
30468498,0.38947,0.02932,0.1391,0.03835,0.0797,0.03308,0.18872,0.07669,0,5359,5370,5361,0.02556

In [76]:
# NaN 값 -> 0 
emotion_result_df = emotion_result_df.fillna(0)

In [78]:
# 추출한 데이터 임시 저장
emotion_result_df.to_csv('./ko_emotion_data/ko_210702.csv')

### DB에 데이터 삽입

In [45]:
# 커서 객체 생성
cursor = indj_db.cursor()

# SQL 테이블을 pandas Dataframe 으로 불러오기
sql = """SELECT * FROM `indj_service`.`RENEW_lyrics_emotion_percent`;"""
cursor.execute(sql)
res = cursor.fetchall()
percent_df = pd.DataFrame(res)

#### 중복체크

In [46]:
# 이미 삽입되었던 값과 중복이 되어있는지 체크함
# lyrics_emotion_percent table은  primary key 로 music_idx가 설정되어있기 때문에 중복값이 있으면 에러 발생
unique_list = list(set(emotion_result_df.index.to_list()) - set(percent_df.music_idx.to_list()))

In [47]:
emotion_result_df = emotion_result_df.loc[unique_list]

In [48]:
emotion_result_df

,5359,5370,5361,5363,5364,5365,5366,5368,5367,5369,emotion1,emotion2,emotion3
32505870,0.10500,0.19350,0.14985,0.05238,0.11542,0.12561,0.14694,0.04995,0.06135,0.0,5370,5361,5366
32899087,0.12508,0.14743,0.13353,0.12387,0.20423,0.05619,0.12266,0.06103,0.02598,0.0,5364,5370,5361
32505872,0.07079,0.11799,0.14714,0.11410,0.21738,0.09578,0.06746,0.09328,0.07607,0.0,5364,5361,5370
32899088,0.20206,0.01313,0.03751,0.04173,0.24098,0.06376,0.14112,0.03891,0.22082,0.0,5364,5367,5359
32505871,0.07662,0.20257,0.09108,0.10805,0.13650,0.13902,0.13031,0.07020,0.04565,0.0,5370,5365,5364
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32374757,0.12007,0.19538,0.18922,0.08316,0.13534,0.09801,0.08634,0.04476,0.04773,0.0,5370,5361,5364
32374758,0.39750,0.12996,0.03426,0.06308,0.15443,0.11637,0.03208,0.02773,0.04459,0.0,5359,5364,5370
32374759,0.28918,0.03311,0.06951,0.18721,0.12590,0.08984,0.08459,0.06295,0.05770,0.0,5359,5363,5364
32899050,0.05394,0.01173,0.03819,0.12931,0.33166,0.14338,0.07538,0.03250,0.18392,0.0,5364,5367,5365
32899053,0.27748,0.02039,0.05585,0.03014,0.31117,0.05940,0.06649,0.12500,0.05408,0.0,5364,5359,5368

In [49]:
indj_db = pymysql.connect(**RDS_config, cursorclass=pymysql.cursors.DictCursor)
cursor = indj_db.cursor()
top_emotion_data = []
emotion_percent_data = []

for i in tqdm(range(len(emotion_result_df))):
    low = emotion_result_df.iloc[i]
    top_emotion_values = [
        low['emotion1'],
        low['emotion2'],
        low['emotion3'],
        low.name # low index
    ]
    emotion_percent_values = [
        low.name,
        low['5359'], # 사랑
        low['5370'], # 즐거움
        low['5361'], # 열정
        low['5363'], # 행복
        low['5364'], # 슬픔
        low['5365'], # 분노
        low['5366'], # 외로움
        low['5367'], # 그리움
        low['5368'], # 두려움
        low['5369']  # 놀람
    ]
    top_emotion_data.append(top_emotion_values)
    emotion_percent_data.append(emotion_percent_values)
    
    # 1000개의 데이터가 모일때 commit
    if i % 1000 == 0:
        sql_query = """UPDATE RENEW_music_analytics 
        SET lyrics_emotion1 = %s ,lyrics_emotion2 = %s , lyrics_emotion3 = %s
        WHERE music_idx = %s"""
        cursor.executemany(sql_query,top_emotion_data)
        indj_db.commit()
        top_emotion_data = []
        
        sql_query2 = """INSERT INTO RENEW_lyrics_emotion_percent
        (music_idx , lov , joy , pas , hap , sad ,ang , lon , mis , fea , sup)
        VALUES (%s , %s , %s , %s , %s , %s , %s, %s , %s, %s, %s)"""
        cursor.executemany(sql_query2,emotion_percent_data)
        indj_db.commit()
        emotion_percent_data = []
    
# 나머지 데이터 update ( n 의 배수가 아닌 데이터)
sql_query = """UPDATE RENEW_music_analytics 
    SET lyrics_emotion1 = %s ,lyrics_emotion2 = %s , lyrics_emotion3 = %s
    WHERE music_idx = %s"""
cursor.executemany(sql_query,top_emotion_data)
indj_db.commit()

sql_query2 = """INSERT INTO RENEW_lyrics_emotion_percent
    (music_idx , lov , joy , pas , hap , sad ,ang , lon , mis , fea , sup)
    VALUES (%s , %s , %s , %s , %s , %s , %s, %s , %s, %s, %s)"""
cursor.executemany(sql_query2,emotion_percent_data)
indj_db.commit()

#연결 해제
indj_db.close()

100%|████████████████████████████████████████████████████████████████████████████| 20000/20000 [04:07<00:00, 80.87it/s]